

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>MVP 1</title>
  <meta name="description" content="MVP 1">
  <meta name="author" content="Maria Skårdal">

  <link href="../static/styleSheet.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />

  <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
  <script src="https://d3js.org/d3.v3.min.js" type="text/javascript"></script>


</head>

<body>
    <h1>{{ name }}</h1>
    <div id="map"></div>

    <!-- PLACEHOLDERS for JavaScript parameters-->
    <p hidden id="geojson">{{geoData}}</p>
    <p hidden id="zoom">{{zoom}}</p>
    <p hidden id="lat">{{lat}}</p>
    <p hidden id="long">{{long}}</p>

    <!--<button class= "button" onclick="redirect()">Temperature</button>-->
    <div id="cssmenu">
        <form id="form1" action = "http://localhost:5000/with_grid" method = "POST">
        Number of grids: <input type="number" name="grid" min="1" max="20"><br>
        <input type="button" onclick="redirectWithGrid()" value="submit">
        </form>
    </div>
    
    
    <script type="text/javascript" src="../static/javaScript.js"></script> 
</body>
</html>