

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>MVP 1</title>
  <meta name="description" content="MVP 1">
  <meta name="author" content="Maria Skårdal & Even Wanvik">

  <link href="../static/styleSheet.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />

  <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
  <script src="https://d3js.org/d3.v3.min.js" type="text/javascript"></script>


</head>

<body>
    <h1>{{ name }}</h1>
    <br>
    <div id="map"></div>

    <!-- PLACEHOLDERS for JavaScript parameters-->
    <p hidden id="geojson">{{geoData}}</p>
    <p hidden id="zoom">{{zoom}}</p>
    <p hidden id="lat">{{lat}}</p>
    <p hidden id="long">{{long}}</p>
    <p hidden id="menu">{{menu}}</p>

    <!--Dropdown menu template-->
    <p id="Menus">    
        <div id="cssmenu">

          <a href="http://127.0.0.1:5000/index" class="button">World map</a>

          <div class="dropdown">
            <button class="dropbtn">Select location</button>
            <div class="dropdown-content">
            <a href= "http://127.0.0.1:5000/location">Frænfjorden</a>
            <a href="#">Narnia</a>
            <a href="#">Hogwarts</a>
            </div>
          </div>
          
          <div class="dropdown">
            <button class="dropbtn">Select data</button>
            <div class="dropdown-content">
            <a href= "http://127.0.0.1:5000/geojson">Temperature</a>
            <a href="#">Salinity</a>
            <a href="#">Oil particles</a>
            </div>
          </div>

      </div>
    </p>

    <!--Input Field template-->
    <!--
    <p hidden id="inputField">    
        <div id="cssmenu">
            <form id="form1" action = "http://localhost:5000/with_grid" method=POST>
            Number of grids: <input type="number" name="grid" min="1" max="20"><br>
            <input type="button" onclick="redirectWithGrid()" value="submit">
            </form>
        </div>
    </p>
    -->
    <div id="cssmenu">
      <form id="parameters" action="http://localhost:5000/inputgrid" method="POST">
        <p> Number of grids (1-60): <input type="number" name="nGrids" min="1" max="60"/></p>
        <!--<p> Grid start edge (0,0): <input type="text" name="startedge" maxlength="5"/></p>-->
        <p> Depth: <input type="number" name="depth" min="1" max="100"/></p>
        <p> Date: <input type="date" name="date"/></p>
        <p> <input type="submit" action="http://localhost:5000/inputgrid" method="POST" class="submitButton" value="submit"/></p>
      </form>
    </div>


    <script type="text/javascript" src="../static/javaScript.js"></script> 
</body>
</html>