

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>MVP 1</title>
  <meta name="description" content="MVP 1">
  <meta name="author" content="Maria Skårdal">

  <link href="../static/styleSheet.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />


  <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
  <script src="https://d3js.org/d3.v3.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="../static/javaScript.js"></script>

</head>

<body>
    <h1>This is a world map </h1>
    <div id="map"></div>
    
    <form>  
        <input type="button" value="click" onclick="msg()"/>  
    </form>  
    <script type="text/javascript" src="../static/javaScript.js"></script>
</body>
</html>