
<a href="/index"><button>Go to world map</button></a>

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Stratos</title>
    <link type="text/css" rel="stylesheet" href="assets/css/github-markdown.css">
    <link type="text/css" rel="stylesheet" href="assets/css/pilcrow.css">
    <link type="text/css" rel="stylesheet" href="assets/css/hljs-github.min.css"/>
  </head>
  <body>
    <article class="markdown-body"><h1 id="stratos"><a class="header-link" href="#stratos"></a>Stratos</h1>
<p>Visualizing netCDF files from SINMOD, OSCAR and DREAM on a web page.</p>
<p>This is a temporary structure for displaying a single netcdf file in web page.</p>
<p>To start the server in a container: sudo bash start.sh
Check for existing images in the container: sudo docker ps -a
To stop and remove existing images: sudo bash stop.sh
t
Authors: Even Wanvik and Maria Skårdal</p>
<hr>
<h1 id="how-to-run-the-server-inside-the-container:"><a class="header-link" href="#how-to-run-the-server-inside-the-container:"></a>How to run the server inside the container:</h1>
<p>in powershell:
    Set-NetConnectionProfile -interfacealias &quot;vEthernet (DockerNAT)&quot; -NetworkCategory Private</p>
<p>open docker desktop settings (right corner), enable shared C-drive</p>
<p>Run these in terminal:
    docker build -t stratos .
    docker run -p 80:80 stratos</p>
<h1 id="how-to-push-image-to-container-registry"><a class="header-link" href="#how-to-push-image-to-container-registry"></a>How to push image to container registry</h1>
<ol class="list">
<li>Login to azure registry:
 az acr login --name stratoscontainers</li>
<li>Build the image:
 docker build -t stratos .</li>
<li>Tag the image:
 docker tag &lt;Image_ID&gt; stratoscontainers.azurecr.io/name</li>
<li>Push it to the registry
 docker push stratoscontainers.azurecr.io/name</li>
</ol>
<hr>
<h1 id="alternatives-to-using-geojson"><a class="header-link" href="#alternatives-to-using-geojson"></a>Alternatives to using GeoJSON</h1>
<p>Remarks: A big advantage of using geoJSON is that it is very compatible with Leaflet. However, when the geoJSON objects become large, rendering is slow and zooming and dragging functions are very sluggish. 
Alternative approaches:</p>
<ul class="list">
<li>Convert NetCDF to Shapefile <ul class="list">
<li>need three files: .shp, .dbf, .shx () </li>
<li>Shapefile can be displayed by Leaflet (although some suggest converting it GeoJSON..)</li>
</ul>
</li>
<li>Convert NetCDF file to GeoTIFF using GDAL<ul class="list">
<li>GDAL is a translator library for raster/vector data</li>
<li>GeoTIFF is raster data and can be used to generate a tilelayer to display with Leaflet</li>
</ul>
</li>
<li>TopoJson<ul class="list">
<li>Primary advantage: its smaller than GeoJSON</li>
<li>the same output is 17 KB with GeoJSON and 5 KB with TopoJSON</li>
<li>Downside: more complex file format, typically has to be converted to GeoJSON in javaScript</li>
<li>Could be beneficial if we are certain that rendering GeoJson data in Leaflet is fast (not sure that this is the case).</li>
</ul>
</li>
<li>Use Esri&#39;s ArcGIS with ArcPy and ArcMap<ul class="list">
<li>Disadvantage: need to purchase ArcGIS</li>
</ul>
</li>
</ul>
<p>Useful site for further options: <a href="https://gisgeography.com/gis-formats/">https://gisgeography.com/gis-formats/</a></p>
<hr>
<h1 id="time-lapse-testing-11.07.2019"><a class="header-link" href="#time-lapse-testing-11.07.2019"></a>Time-lapse testing 11.07.2019</h1>
<p>Tested with 10 timesteps, and the webpage is still a bit slow. 
Once the &quot;start time-lapse&quot; button is pressed:</p>
<ul class="list">
<li>10 requests are sent to flask</li>
<li>When the javaScript receives a response, the geojson from flask is stored in an array under the corresponding timeindex</li>
<li>A periodic function (runs every 1 second) adds the geojson layers to the map sequentially (removing the preceding layer in the process)</li>
</ul>
<p>Results:</p>
<ul class="list">
<li>The responses from flask does not arrive in a strictly ascending order</li>
<li>The first response (time index 3) came after 8.6 s</li>
<li>The last response (time index 9) came after 23.4 s</li>
<li>The response tied to time index 0 came after 14.1 s</li>
</ul>
<p>So the whole time-lapse takes a while, and since the temperatures are very similar at each time step it is very hard to see any change. Might want to change the color spectrum in order to visualize the difference better.</p>
<hr>
<h1 id="depth-series-testing-12.07.2019"><a class="header-link" href="#depth-series-testing-12.07.2019"></a>Depth series testing 12.07.2019</h1>
<p>We requested 20 depth layers in order to actually see that new layers were produced continuously. The same image was used in both a locally running container and in the app service in azure. The interval function for drawing depth layer was called every 600 ms for all the tests.</p>
<p>Test 1: A request for layer with index 0 is sent once &quot;start depth series&quot;-button is pushed. When response is received from flask, the layer is stored in geoJsonLayerArray. drawDepthLayer (interval function) adds layer to map and send a request for the next layer. So in this test the layers are fetched sequentially one at a time.</p>
<table>
<thead>
<tr>
<th>Request one-by-one</th>
<th>Total time</th>
<th>Slowest package</th>
<th>Fastest package</th>
</tr>
</thead>
<tbody>
<tr>
<td>local container</td>
<td>1min 4s</td>
<td>~3 sec</td>
<td>~1.1 sec</td>
</tr>
<tr>
<td>app service</td>
<td>3min 28s</td>
<td>~14 sec</td>
<td>~3.1 sec</td>
</tr>
</tbody>
</table>
<p>Test 2: A request for the first two layers (index 0 and 1) is sent once &quot;start depth series&quot;-button is pushed. When response for the first layer is received from flask, the layer is added to the map and a request for the third layer (index 2) is sent to flask. Upon arrival of the second layer (index 1) response, the fourth layer (index 3) is requested and so on. So in this test we request the two next layers in an efficient manner.</p>
<table>
<thead>
<tr>
<th>Request one + next</th>
<th>Total time</th>
<th>Slowest package</th>
<th>Fastest package</th>
</tr>
</thead>
<tbody>
<tr>
<td>local container</td>
<td>48 s</td>
<td>~5.46 sec</td>
<td>~1.1 sec</td>
</tr>
<tr>
<td>app service</td>
<td>1min 58s</td>
<td>~20 sec</td>
<td>~2.1 sec</td>
</tr>
</tbody>
</table>
<p>Test 3: All 20 depth layers are requested at once. The repsonses from flask does not arrive in a strictly ascending order. The layers are rendered once the correct index has returned a response.</p>
<table>
<thead>
<tr>
<th>Request all at once</th>
<th>Total time</th>
<th>Slowest package</th>
<th>Fastest package</th>
</tr>
</thead>
<tbody>
<tr>
<td>local container</td>
<td>1min 2s</td>
<td>~54 sec</td>
<td>~14 sec</td>
</tr>
<tr>
<td>app service</td>
<td>1min 35s</td>
<td>~1min 30 sec</td>
<td>~35 sec</td>
</tr>
</tbody>
</table>
<p>NOTE: The process is much slower in the cloud regardless of how the layer requests are sent. Requesting one layer plus the next seems to be the best option, if the server is running in a local container. But requesting all the layers at once is actually the fastest option in the cloud. We have not recorded the results using different intervals for the drawDepthLayer function, but we tried some values in the range 50ms-900ms and but there was not a significant difference in performance. Choosing a very small value will lead to many redundant calls and seemed to cause the web page to lag slightly.</p>
<p>We logged the execution time of the different operations included retrieving the geoJSON layers. Here are some findings:</p>
<ul class="list">
<li>Decompressing the azure blobs: range [0.1s , 1.2s]</li>
<li>Get the shape of the array using meta data: ~ 0.1s</li>
<li>Creating numpy arrays: ~ 0.1ms</li>
<li>set color map range: ~ 1ms</li>
<li>Double for loop generating grid: 2-3 seconds</li>
</ul>
<p>So the azure-to-json function takes a couple of seconds for each layer, but there might be other things either on the clint or the server side that slows things down.</p>
<hr>
<h1 id="topojson-vs-geojson-performance"><a class="header-link" href="#topojson-vs-geojson-performance"></a>TopoJSON vs GeoJSON performance</h1>
<p>Converted a locally stored geojson to a topojson, and store both files in stratos/data/outputs. Used &quot;npm install -g topojson&quot; (requires node.js installed) and &quot;geo2topo -p -o topoData.json -- geojson.json&quot;.</p>
<p>The javaScript requests the to different files (depending on which button you push) and renders the with leaflet.</p>
<table>
<thead>
<tr>
<th>Format</th>
<th>File size</th>
<th>Content download</th>
<th>Time</th>
<th>Total time until rendered</th>
</tr>
</thead>
<tbody>
<tr>
<td>GeoJSON</td>
<td>8.5 MB</td>
<td>952.92 ms</td>
<td>1.0s</td>
<td>ca 2.5 s</td>
</tr>
<tr>
<td>TopoJSON</td>
<td>2.0 MB</td>
<td>185.50 ms</td>
<td>208ms</td>
<td>ca 1.5 s</td>
</tr>
</tbody>
</table>
    </article>
  </body>
</html>
