
<!doctype html>
<html>
<head>
	<title>Velocity demo</title>
	<meta charset="utf-8">
	<link href="../static/styleSheet.css" rel="stylesheet" type="text/css">
</head>
<body onload="populateDatasetMenu()">
	<div id="map"> </div>

	<div id="sideButtons" style="align-content: center">
		<br>
		<a href="/index" class="dropbtn">Back to frontpage</a>
		<div class="dropdown">
			<button class="dropbtn">Select dataset</button>
			<div class="dropdown-content">
				<select id="datasetMenu" name="dataset" type="text" onchange="addDatasetOptions()">
					<option value="" diabled>-- Select --</option>
				</select>
			</div>
		</div>
	</div>

	<!--vendor-->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.1.0/dist/leaflet.css" />
	<script type="text/javascript" src="https://npmcdn.com/leaflet@1.1.0/dist/leaflet.js"></script>

	<!--leaflet-velocity-->
	<link rel="stylesheet" href="../static/leaflet-velocity/leaflet-velocity.css" />
	<script type="text/javascript" src="../static/leaflet-velocity/leaflet-velocity.js"></script>

	<!--demo-->
	<link rel="stylesheet" href="../static/leaflet-velocity/velocity-demo.css" />
	<script type="text/javascript" src="../static/leaflet-velocity/velocity-demo.js"></script>

</body>
</html>