body {
    margin: 0px;
}

#heading {
    text-align: center;
    padding: 25px;
    background: rgb(53, 53, 53);
    color: #CCC;
}

a {
    color: #2d78e0;
}

#leftDiv {
    width: 200px;
    height: 400px;
    margin: 3;
    background-color:#eeeded;
    float: left;
    position: absolute;
}
  
#rightDiv {
    width: 1000px;
    height: 1000px;
    margin: 3;
    background-color:#eeeded;
    display: inline-block;
    text-align:center;
}

#map {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    background-color: rgb(53, 53, 53);
}

#data-selection {
    position: absolute;
    height: 400px;
    width: 100%;
    background-color: rgb(53, 53, 53);
}

.leaflet-canvas-layer {
    opacity: 0.50;
}